.td5{
	
	width: 25px !important;
}
.td10{
	width: 10% !important;
}
.td15{
	width: 15%;
}
.td20{
	width: 20%;
}
.td25{
	width: 25%;
}
.td30{
	width: 30%;
}
.td35{
	width: 35%;
}
.td40{
	width: 40%;
}
.td45{
	width: 45%;
}
.td50{
	width: 50%;
}
.td55{
	width: 55%;
}
.td60{
	width: 60%;
}
.td65{
	width: 65%;
}
.td70{
	width:d70%;
}
.td75{
	width: 75%;
}
.td80<	{
	width: 80%;
}
.negro{
	color: black;
}
.centro{
	text-align: center;
}
