
.tabla1{
	position: absolute;
	top: 75px;
}

.tabla2{
	position: absolute;
	top: 245px;

}
.tabla3{
	position: absolute;
	top: 876px;
	left: 490px;
}
table{
font:12px Helvetica;
color:#000;
}

.tabla2 tr td{
	text-align: center;
}



