
.tabla1{
	position: absolute;
	top: 130px;
}

.tabla2{
	position: absolute;
	top: 265px;

}
.tabla3{
	position: absolute;
	top: 872px;
	left: 490px;
}
table{
font:12px Helvetica;
color:#000;
}

.tabla2 tr td{
	text-align: center;
}



