
.tabla1{
	position: absolute;
	top: 86px;
}

.tabla2{
	position: absolute;
	top: 248px;

}
.tabla3{
	position: absolute;
	top: 887px;
	left: 490px;
}
table{
font:12px Helvetica;
color:#000;
}

.tabla2 tr td{
	text-align: center;
}



